
header div:first-child{padding: 4%; background: blue; width: 35%; float: left; }
header div:nth-child(2){padding: 4%; background: green; width: 35%; float: left; }
.clear{clear: both;}

nav { background: orangered;  }
nav ul  {margin: 5px; padding: 0; }
nav ul li { list-style: none; float: left; margin: 0.5%; padding: 1%; background: aquamarine;}
nav ul li:nth-child(2) { background-color:lightsalmon;}
nav ul li:nth-child(3) { background-color:pink;}
nav ul li:nth-child(4) { background-color:blanchedalmond;}

nav ul li a{ text-decoration: none; display: block; width: 100%;}

nav ul li a:hover {background-color: black; color: yellow;}

section {padding: 3%; background: yellow;}
footer {padding: 2%; background: purple;}


