.main{
    background-color: rgb(151, 227, 234);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap:2px; 
    grid-row-gap: 2px;

}
.grid-container{
    display: grid;
    align-content: center;
    height: 400px;
    padding: 10px;
}

.itm{
    background-color: rgb(76, 164, 241);
    text-align: center;  
}

.bl8{
    grid-area: 2 / 1/ span 2/ span 3;
}

/*.bl3{
    grid-column: 2 / span 4;
    grid-row: 2/ span 2;
}*/


/*.bl7{
    grid-column-start: 3;
    grid-column-end: 5;
}*/