.header{
    background: lightblue;
    padding: 20px; 
    text-align: center; 
    border: 2px solid black;
    }
.container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    flex-shrink: 5;
}
.right{ width: 35%; 
    height: 600px; 
    background: red;
    order: 3;
}
.center{
    width: 30%; 
    height: 600px; 
    background: rebeccapurple;
    order: 1;
    } 
.left{width: 35%; 
    height: 600px; 
    background: yellow;
    order: 2;
}
.footer{ clear: both; 
    background: lightcoral;
    padding: 20px; 
    text-align: center; 
    border: 2px solid black; }







