.box {
  width: 700px;
  height: 500px;
  padding: 40px;
  border: 40px solid transparent;
  background: lightblue;
  border-image: url("roman.png") 30 round;
}
div{
    /* transform: translate(50px, 100px); */
    /* transform: rotate(20deg);*/
    /* transform: scale(0.5, 0.5);*/
    /*transform: skew(20deg, 10deg);*/
    /*transform: matrix(1,0, 0.5, 1, 150, 0);*/
    transform: rotateY(10deg);
}